

<nav class = "row navbar">
    <div class="nav-wrapper col s12">

        <img src="http://www.intech.lu/sites/default/files/intech_post_logo.png" class="brand-logo right" width="220">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="navbar-button">
                <a class="navbar-link" [routerLink]="['/offres']">Liste des offres</a>
            </li>
            <li class="navbar-button ">
                <a class="navbar-link" [routerLink]="['/achat']" >Achat</a>
            </li>

            <li class="navbar-button">
                <dropdown>
                <a class="dropdown-button active navbar-link navbar-button " data-hover="false" data-beloworigin="true" data-constrainwidth="false"  data-activates="editmenu" materialize="dropdown">Administration</a>
                    <ul id="editmenu" class = "dropdown-content active dropdownMenu navbar-link"  >

                        <p><a class="dropdownMenu" [routerLink]="['/administration/add']">Ajouter une offre </a></p>

                        <p><a class="dropdownMenu" [routerLink]="['/administration/edit']">Modifier une offre </a></p>

                        <p><a class="dropdownMenu" >Transfert TODO </a></p>

                        <p><a class="dropdownMenu" [routerLink]="['/administration/log']">Log Vendeurs </a></p>



                        <p><a class="dropdownMenu" [routerLink]="['/administration/historique']">Historique </a></p>



                        <p><a class="dropdownMenu" [routerLink]="['/administration/vente']">Vente </a></p>







                    </ul>
                </dropdown>
            </li>


        </ul>

    </div>
</nav>

<router-outlet></router-outlet>