<!-- Version 1 of log.html with dropdown list  -->
<div class="row">
    <h4>Quantités à ajuster </h4>
<table>
    <thead>
        <tr>
            <th >Numero activité</th>
            <th *ngFor="let list of Vendeurs">
                {{list.nom}} {{list.prenom}}
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>

        <td >

        <select value="Selectionner Activité" [(ngModel)]="idOffre"  materialize="material_select" (ngModelChange)="ListDispo(idOffre)">
            <option class ="browser-default" value="" disabled selected>Selectionner Activité</option>
            <option value = "{{list.idOffre}}"   *ngFor="let list of Offres" >{{list.titre}}
            </option>
        </select>
                <label>Selectionner activité</label>


        </td>

        <td  *ngFor="let list2 of DispoOffres">
        {{list2.quantite}}
            <p class="range-field">
            <input style="color: green" type="range" min="0" max="20" #quantite  value="{{list2.quantite}}" (change)="DispoModif(list2.idOffre,list2.idVendeur,quantite.value)">Ajustement :{{quantite.value}}
            </p>
        </td>

    </tr>


    </tbody>


</table>

</div>




