<!-- version 2 of log.html with button NOT WORKING -->

<div class="row">



    <table class="col s4">
        <tr>
            <th >Numero activité</th>
        </tr>
        <tr *ngFor="let list of Offres;let i=index">
            <button (click)="ListDispo(list.idOffre)"> {{list.titre}} </button>
        </tr>
    </table>
    <table class="col s8">
        <tr>
            <th *ngFor="let vendeur of Vendeurs">{{vendeur.nom}} {{vendeur.prenom}}</th>
        </tr>
        <tr >
            <td *ngFor="let dispo of DispoOffres">{{dispo.quantite}}</td>

        </tr>

    </table>






   <!-- <ul *ngFor="let list of Offres">
        {{list.idOffre}} : {{list.titre}}
    </ul>-->

</div>




