<!-- Version 1 of log.html with dropdown list  -->
<div class="row">
    <h4>Quantités à ajuster </h4>
<table>
    <thead>
        <tr>
            <th >Numero activité</th>
            <th *ngFor="let list of Vendeurs">
                {{list.nom}} {{list.prenom}}
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>

        <td class="col s5">
        <select  [(ngModel)]="idOffre"  materialize="material_select" (ngModelChange)="ListDispo(idOffre)">
            <option    *ngFor="let list of Offres" >{{list.idOffre}}
            </option>
        </select>

        </td>

        <td  *ngFor="let list2 of DispoOffres">
        {{list2.quantite}}
            <input style="color: green" type="range" min="0" max="20" #quantite  value="{{list2.quantite}}" (change)="DispoModif(list2.idOffre,list2.idVendeur,quantite.value)">Ajustement :{{quantite.value}}

        </td>

    </tr>


    </tbody>


</table>
<div class="row">
    <pre class="col s5" style="height: 250">
    <ul style="margin: 2px" *ngFor="let list of Offres">
        {{list.idOffre}} : {{list.titre}}
    </ul>
    </pre>
    <!-- Need to attach refresh function -->
    <button  class="waves-effect waves-light push-s4 " >Confirmer
        <i class="material-icons right">send</i>
    </button>


</div>
</div>




