

<!-- FORMER MENU -->
<!--<div class="row">

    <div class ="col s3">

        <ul id="slide-out" class = "side-nav fixed" style="transform: translateX(0px);">
            <li class="bold"></li>
            <a [routerLink]="['/edit/add']">Ajouter une offre </a>

            <li class="bold"></li>
            <a>Modifier une offre </a>

            <li class="bold"></li>
            <a >Editer Vendeurs </a>

        </ul>




    </div>

    <!-- Main space -->
    <div class="col s9">

        <router-outlet ></router-outlet>
    </div>


<!--</div>-->


